Repository syh-micro-build/mb-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint --fix

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: :bug: 表单的 delSchema 方法在调用后未将对应的 field 值删除
  src/components/Form/src/helper/index.ts
  src/views/Components/Form/UseFormDemo.vue
Due: eslint, prettier --write, stylelint --fix

docs: :memo: 添加 在线预览 与 官方文档 的国内版地址
  README.md
Due: none

docs: :memo: 使用 JSDelivr 开源 CDN 代理 Github 图片
  README.md
Due: none

Revert "docs: :memo: 使用 JSDelivr 开源 CDN 代理 Github 图片"
  README.md
Due: none

fix: :bug: 已经是 FormData 对象的不用再次转换
  src/axios/config.ts
Due: eslint, prettier --write

docs: :memo: 文档添加生态分栏
  README.md
Due: none

Create CNAME
  CNAME
Due: none

ci: :ferris_wheel: 设置自定义域名后的构建参数调整
  .env.github
Due: none

ci: :ferris_wheel: 文档 与 在线预览 地址更新
  README.md
  mock/menu/index.mock.ts
  mock/role/index.mock.ts
  src/components/UserInfo/src/UserInfo.vue
  src/router/index.ts
Due: eslint, prettier --write, stylelint --fix

ci: :ferris_wheel: 添加同步至 Gitee 并自动构建部署至 Gitee pages
  .env.gitee
  .github/workflows/auto-deploy.yml
Due: none

ci: :ferris_wheel: 代码同步至 Gitee 的 GitHub Action 更换
  .github/workflows/auto-deploy.yml
Due: none

ci: :ferris_wheel: gitee 同步报错处理
  .github/workflows/auto-deploy.yml
Due: none

Update auto-deploy.yml
  .github/workflows/auto-deploy.yml
Due: none

ci: 仓库私钥调整后的调试
  .github/workflows/auto-deploy.yml
Due: none

ci: :ferris_wheel: 添加同步代码至 Gitee 并部署 Gitee pages
  .github/workflows/auto-deploy.yml
Due: none

feat: :sparkles: 添加代码编辑器组件
  components.d.ts
  mock/role/index.mock.ts
  package-lock.json
  package.json
  src/components/CodeEditor/index.ts
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/CodeEditor/src/config/config.ts
  src/hooks/web/useMonacoEditor.ts
  src/views/Components/Editor/CodeEditor.vue
Due: eslint, prettier --write, stylelint --fix

fix: :bug: 修复 Transfer 组件 optionApi 不生效
  src/components/Form/src/Form.vue
Due: prettier --write, stylelint --fix

chore(release): 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: :bug: 静态路由添加代码编辑器菜单
  src/router/index.ts
Due: eslint, prettier --write

fix: :bug: 修复富文本编辑器初始化时, 报错 Error: Cannot find a descendant at path [0,1] in node
  src/components/Editor/src/Editor.vue
Due: prettier --write, stylelint --fix

fix: :bug: 查询界面：收起和展开功能bug
  src/components/Search/src/Search.vue
Due: prettier --write, stylelint --fix

Path conditions:
  eslint: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.vue)) or (any of: *.{js,jsx})) or (any of: package.json)) or (any of: *.{scss,less,styl,css,html})
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,css,html})
