Repository syh-micro-build/mb-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint", "prettier --write"],
  "*.vue": ["prettier --write", "stylelint --fix"],
  "*.{js,jsx}": ["eslint", "prettier --write"],
  "package.json": ["prettier --write"],
  "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}": ["prettier --write--parser json"],
  "*.{scss,less,styl,css,html}": ["stylelint --fix", "prettier --write"],
  "**/node_modules/**": []
}

fix: :bug: 修复在表格中给按钮添加link属性后，字体颜色变成白色
  src/components/Button/src/Button.vue
Due: prettier --write, stylelint --fix

fix: :bug: 左侧菜单收起后，组件菜单的子菜单显示不全
  src/components/Menu/src/Menu.vue
  src/components/Menu/src/components/useRenderMenuItem.tsx
Due: eslint, prettier --write, stylelint --fix

chore: :hammer: 更新依赖
  package-lock.json
  package.json
Due: prettier --write

chore(release): 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(ui): :bug: 角色列表返回的菜单项字段不存在时，点击编辑按钮控制台报错
  src/utils/tree.ts
Due: eslint, prettier --write

fix(ui): :bug: 综合示例-页面 列表中的重要性字段改为显示tag，内容字段隐藏应该用hidden，而不是show
  src/views/Example/Page/ExamplePage.vue
Due: prettier --write, stylelint --fix

fix(ui): :bug: 内容字段隐藏应该用hidden，而不是show
  src/views/Example/Page/ExamplePage.vue
Due: prettier --write, stylelint --fix

fix: :bug: 解决@vue/eslint-config-typescript中eslint版本与项目中eslint版本不兼容的问题
  package-lock.json
  package.json
Due: prettier --write

chore: :hammer: 更新依赖，重大更新
  .eslintrc.cjs
  .lintstagedrc
  auto-imports.d.ts
  components.d.ts
  eslint.config.js
  package-lock.json
  package.json
  src/axios/service.ts
  src/components/Button/src/Button.vue
  src/components/CodeEditor/src/CodeEditor.vue
  src/components/ContextMenu/src/ContextMenu.vue
  src/components/Descriptions/src/Descriptions.vue
  src/components/Form/src/Form.vue
  src/components/Form/src/components/useRenderCheckbox.tsx
  src/components/Form/src/components/useRenderRadio.tsx
  src/components/Form/src/types/index.ts
  src/components/Menu/src/Menu.vue
  src/components/Table/src/Table.vue
  src/components/UserInfo/src/components/LockPage.vue
  src/constants/index.ts
  src/hooks/web/useValidator.ts
  src/router/index.ts
  src/stores/permission.ts
  src/utils/index.ts
  src/utils/is.ts
  src/views/Components/Table/CardTable.vue
  src/views/Components/Table/DefaultTable.vue
  src/views/Components/Table/TableImagePreview.vue
  src/views/Components/Table/TableVideoPreview.vue
  src/views/Dashboard/Workplace.vue
  tsconfig.app.json
  tsconfig.node.json
  types/router.d.ts
  uno.config.ts
  vite.config.ts
Due: eslint, prettier --write, stylelint --fix

perf(ui): :zap: 全局默认box-sizing: border-box;降低元素布局难度
  auto-imports.d.ts
  components.d.ts
  src/components/TagsView/src/TagsView.vue
  src/layout/components/AppView.vue
  src/styles/var.css
Due: eslint, prettier --write, stylelint --fix

perf(ui): :zap: 移除scrollbar__view高度限定
  src/components/Footer/src/Footer.vue
  src/layout/Layout.vue
  src/layout/components/AppView.vue
Due: prettier --write, stylelint --fix

fix: :bug: videoPlayer 的实例未赋值
  src/components/VideoPlayer/src/VideoPlayer.vue
Due: prettier --write, stylelint --fix

fix: :bug: 修复isUrl判断错误bug
  src/utils/is.ts
Due: eslint, prettier --write

feat(ui): :sparkles: 添加自定义尺寸弹窗
  components.d.ts
  src/components/Dialog/src/Dialog.vue
  src/components/Dialog/src/ResizeDialog.vue
  src/hooks/web/useResize.ts
  src/views/Components/Dialog.vue
Due: eslint, prettier --write, stylelint --fix

fix: :bug: initModel判断schema对应的field是否存在,兼容null与0等场景
  src/components/Form/src/helper/index.ts
Due: eslint, prettier --write

feat: :sparkles: 添加本地调试时，输出局域网服务
  package.json
Due: prettier --write

fix: :bug: 提高"initModel判断schema对应的field是否存在,兼容null与0等场景"代码健壮性
  src/components/Form/src/helper/index.ts
Due: eslint, prettier --write
