Repository syh-micro-build/mb-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint --fix

refactor: :recycle: 权限管理=>菜单管理=>按钮权限重构，可以对已添加的权限按钮进行编辑
  mock/menu/index.mock.ts
  src/views/Authorization/Menu/components/Write.vue
Due: eslint, prettier --write, stylelint --fix

fix: :bug: 权限管理=>菜单管理=>编辑菜单名称等需要链表meta的内容失效
  src/components/Form/src/helper/index.ts
Due: eslint, prettier --write

fix: :bug: 修复css前缀无法应用问题
  .browserslistrc
  vite.config.ts
Due: eslint, prettier --write

chore: :hammer: 更新注释
  src/hooks/web/useCrudSchemas.ts
Due: eslint, prettier --write

fix: :bug: 修复 search组件的收起展开 和重置 Bug
  src/components/Form/src/Form.vue
Due: prettier --write, stylelint --fix

fix: :bug: 修复表格合计报错问题
  src/components/Table/src/Table.vue
  src/views/Components/Table/UseTableDemo.vue
Due: prettier --write, stylelint --fix

fix: :bug: 修复表格default-expand-all属性无效BUG
  src/components/Table/src/Table.vue
  src/views/Components/Table/UseTableDemo.vue
Due: prettier --write, stylelint --fix

style(ui): :lipstick: 修改登录页样式
  src/views/Login/Login.vue
Due: prettier --write, stylelint --fix

fix: :bug: 设置了showExpand参数 会把index在expandField之前不应该显示出来的field也显示出来了
  src/hooks/web/useCrudSchemas.ts
Due: eslint, prettier --write

fix: :bug: optionApi方法重复执行，导致接口重复调用
  src/components/Form/src/Form.vue
Due: prettier --write, stylelint --fix

build(ui): :package: 新增VITE_HIDE_GLOBAL_SETTING配置，控制全局设置按钮是否隐藏
  .env.base
  .env.dev
  .env.gitee
  .env.github
  .env.pro
  .env.test
  src/layout/Layout.vue
Due: prettier --write, stylelint --fix

fix: :bug: 修复权限管理=>菜单管理=>编辑弹窗中新增按钮权限时 id 缺失导致前端判断错误问题
  src/views/Authorization/Menu/components/AddButtonPermission.vue
Due: prettier --write, stylelint --fix

fix: :bug: 删除无用代码
  src/views/Function/Request.vue
Due: prettier --write, stylelint --fix

docs: :memo: 项目依赖更新命令优化
  README.md
Due: none

chore: :hammer: 更新依赖
  components.d.ts
  package-lock.json
  package.json
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.vue)) or (any of: *.{js,jsx})) or (any of: package.json)) or (any of: *.{scss,less,styl,css,html})
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,css,html})
