Repository syh-micro-build/mb-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: type-check, eslint, prettier --write, stylelint --fix

feat: 添加 commitlint
  .commitlintrc.json
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

feat(tool): :sparkles: 添加 commitizen 与 cz-git
  .commitlintrc.cjs
  .commitlintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat(tool): :sparkles: 添加 stylelint
  .stylelintrc.json
  package-lock.json
  package.json
  src/styles/variables.module.less
Due: prettier --write, stylelint --fix

chore: :hammer: 开源
  .lintstagedrc
  LICENSE
  package.json
Due: prettier --write

docs: :memo: 更新项目介绍及使用方法
  .lintstagedrc
  README.md
Due: prettier --write

build: :package: 版本更新至 v1.0.0，作为第一个正式版本，项目启动啦~~~
  package-lock.json
  package.json
Due: prettier --write

fix: Table组件注册为全局组件报错问题，存在对pinia的提前引用
  src/components/Table/src/components/TableActions.vue
Due: type-check, prettier --write, stylelint --fix

fix: :bug: 修复stylelint对vue文件的支持
  package-lock.json
  package.json
  src/components/Breadcrumb/src/Breadcrumb.vue
  src/components/TagsView/src/TagsView.vue
  src/layout/Layout.vue
  src/views/Dashboard/components/PanelGroup.vue
Due: type-check, prettier --write, stylelint --fix

fix: :bug: 修复TagsView右键菜单逻辑错误
  src/components/TagsView/src/TagsView.vue
Due: type-check, prettier --write, stylelint --fix

fix: :bug: 修复 类型检查 功能异常问题
  .husky/pre-commit
  .lintstagedrc
Due: none

feat: :sparkles: 添加 standard-version 进行版本更新日志记录
  .versionrc
  package-lock.json
  package.json
Due: prettier --write

fix: :bug: 修复 lint-staged 中 prettier 以 json 格式美化代码的无效命令问题
  .lintstagedrc
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: :memo: 添加版本更新操作说明 及 更新日志
  README.md
Due: prettier --write

fix: :bug: 删除无用代码
  src/components/TagsView/src/TagsView.vue
Due: type-check, prettier --write, stylelint --fix

fix: :bug: 修复第四种布局样式层级问题
  src/components/TabMenu/src/TabMenu.vue
Due: type-check, prettier --write, stylelint --fix

perf: :zap: 修复启动慢问题
  uno.config.ts
Due: type-check, eslint, prettier --write

fix: :bug: useSearch 中 getFormData 方法未给到预期值
  src/components/Search/index.ts
  src/components/Search/src/Search.vue
  src/hooks/web/useSearch.ts
  src/views/Components/Search.vue
Due: type-check, eslint, prettier --write, stylelint --fix

fix: :bug: 登录页存在滚动条问题
  src/views/Login/Login.vue
Due: type-check, prettier --write, stylelint --fix

fix: :bug: route 设置 meta.affix 固定显示后，图标未展示
  src/components/TagsView/src/TagsView.vue
Due: type-check, prettier --write, stylelint --fix

style: :lipstick: vscode vue volar 插件下架，已使用新插件替换
  .vscode/extensions.json
Due: none

chore: :hammer: 更新依赖
  package-lock.json
  package.json
  src/components/Form/src/components/useRenderCheckbox.tsx
  src/components/Form/src/components/useRenderRadio.tsx
  src/views/Components/Form/DefaultForm.vue
Due: type-check, eslint, prettier --write, stylelint --fix

fix(ui): :bug: 在弹框中使用Echart组件时图表不显示
  src/components/Echart/src/Echart.vue
  src/views/Components/Dialog.vue
Due: type-check, prettier --write, stylelint --fix

docs: :memo: 添加项目依赖更新使用方法
  README.md
Due: prettier --write

chore(release): 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Create auto-deploy.yml
  .github/workflows/auto-deploy.yml
Due: none

Update auto-deploy.yml
  .github/workflows/auto-deploy.yml
Due: none

docs: 📝 添加在线预览，捐赠，交流群
  README.md
Due: prettier --write

ci: :ferris_wheel: 自动化构建部署至 github pages 测试
  .env.pro
Due: none

ci: :ferris_wheel: 自动化构建部署至 github pages 调试
  .env.github
  .github/workflows/auto-deploy.yml
Due: none

docs(ui): :memo: 更新在线文档地址
  mock/menu/index.mock.ts
  mock/role/index.mock.ts
  src/components/UserInfo/src/UserInfo.vue
Due: type-check, eslint, prettier --write, stylelint --fix

build: :package: 根据构建模式选择动态路由或静态路由
  .env.base
  .env.dev
  .env.github
  .env.pro
  .env.test
  src/router/index.ts
  src/stores/app.ts
Due: type-check, eslint, prettier --write

docs: :memo: 添加官方文档地址
  README.md
Due: prettier --write

feat(tool): :sparkles: 添加微型代码生成器plop
  package-lock.json
  package.json
  plop/component/component.hbs
  plop/component/index.hbs
  plop/component/prompt.js
  plop/view/prompt.js
  plop/view/view.hbs
  plopfile.js
Due: eslint, prettier --write

Path conditions:
  type-check: (any of: *.{ts,tsx}) or (any of: *.vue)
  eslint: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: (((((any of: *.{ts,tsx}) or (any of: *.vue)) or (any of: *.{js,jsx})) or (any of: package.json)) or (any of: *.{scss,less,styl,css,html})) or (any of: *.md)
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,css,html})
