Repository syh-micro-build/mb-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint --fix

feat: :sparkles: 添加树形控件，支持右键自定义菜单进行节点编辑
  components.d.ts
  mock/role/index.mock.ts
  src/components/Tree/index.ts
  src/components/Tree/src/Tree.vue
  src/router/index.ts
  src/views/Components/Tree.vue
Due: eslint, prettier --write, stylelint --fix

fix: :bug: 当前页不为1时，修改页数后会导致多次调用getList方法问题
  src/hooks/web/useTable.ts
Due: eslint, prettier --write

chore(release): 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: :sparkles: 添加 Hash 路由模式
  .env.base
  .env.dev
  .env.gitee
  .env.github
  .env.pro
  .env.test
  src/router/index.ts
Due: eslint, prettier --write

ci: :ferris_wheel: 添加 npm 依赖更新命令
  README.md
  package.json
Due: prettier --write

ci: 1、精简开发目录; 2、删除 Vue.vscode-typescript-vue-plugin 插件的安装提示（该插件官方已经废弃）；
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: none

ci: 1、精简开发目录
  .vscode/settings.json
Due: none

fix: :bug: 当options为空时无限循环
  src/components/Form/src/Form.vue
Due: prettier --write, stylelint --fix

perf: :zap: 登录组件添加enter键触发提交,锁屏组件自动聚焦输入框
  src/components/UserInfo/src/components/LockDialog.vue
  src/components/UserInfo/src/components/LockPage.vue
  src/views/Login/components/LoginForm.vue
Due: prettier --write, stylelint --fix

fix: :bug: 修复env更新title后,store不更新
  src/stores/app.ts
Due: eslint, prettier --write

fix: :bug: 修复Enter登录重复触发,阻止事件冒泡
  src/views/Login/components/LoginForm.vue
Due: prettier --write, stylelint --fix

fix: :bug: 修复主题switch状态不统一的问题
  src/components/Setting/src/Setting.vue
  src/components/ThemeSwitch/src/ThemeSwitch.vue
  src/views/Login/Login.vue
Due: prettier --write, stylelint --fix

fix: :bug: 修复表格列设置弹窗出现警告问题
  src/components/Table/src/components/ColumnSetting.vue
Due: prettier --write, stylelint --fix

feat: :sparkles: 添加国际化能力
  .vscode/extensions.json
  .vscode/settings.json
  components.d.ts
  package-lock.json
  package.json
  src/components/LocaleDropdown/index.ts
  src/components/LocaleDropdown/src/LocaleDropdown.vue
  src/components/LocaleDropdown/src/types/index.ts
  src/hooks/web/useI18n.ts
  src/hooks/web/useLocale.ts
  src/locales/en.ts
  src/locales/zh-CN.ts
  src/main.ts
  src/plugins/vueI18n/helper.ts
  src/plugins/vueI18n/index.ts
  src/stores/locale.ts
  src/views/Login/Login.vue
  src/views/Login/components/LoginForm.vue
  src/views/Login/components/RegisterForm.vue
  types/global.d.ts
  vite.config.ts
Due: eslint, prettier --write, stylelint --fix

chore(release): 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((((any of: *.{ts,tsx}) or (any of: *.vue)) or (any of: *.{js,jsx})) or (any of: package.json)) or (any of: *.{scss,less,styl,css,html})
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,styl,css,html})
